form {
  text-align: center;
  margin: 5%;
}

mat-form-field {
  display: block;
  width: 55%;
  margin: 0 auto;
}

.image-picker {
  width: min-content;
  margin: 0 auto;
}

.edit-post-btn {
  margin: 3%;
  text-align: center;

  button {
    width: 25%;
    height: 10%;
    border-color: orange;
  }
}
