<ng-container>
    <mat-toolbar color="primary" class="nav">
        <h3 style="letter-spacing: 1px;"><a routerLink="/">PostNews</a></h3>

        <!-- Navbar elements for homepage -->
        <ul *ngIf="page === ''">
            <li>
                <button mat-icon-button matTooltip="Notifications">
                    <mat-icon>notifications</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button matTooltip="Chats">
                    <mat-icon>chat</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button routerLink="/profile" matTooltip="Profile">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </li>
            <li><button mat-stroked-button style="border-color: white;" (click)="server.logUserOut()">Logout</button>
            </li>
        </ul>
        <!-- End of navbar elements for homepage -->

        <!-- Navbar elements for Login page -->
        <ul *ngIf="page === 'login'">
            <li><button mat-stroked-button style="border-color: white;" routerLink="/signup">Signup</button></li>
        </ul>
        <!-- End of navbar elements for homepage -->

        <!-- Navbar elements for homepage -->
        <ul *ngIf="page === 'signup'">
            <li><button mat-stroked-button style="border-color: white;" routerLink="/login">Login</button>
            </li>
        </ul>
        <!-- End of navbar elements for homepage -->

    </mat-toolbar>
</ng-container>