<ng-container>
    <mat-toolbar color="primary" class="nav">
        <h3>PostNews</h3>
        <ul>
            <li>
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>chat</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                </button>
            </li>
            <li><button mat-stroked-button style="border-color: white;">Logout</button></li>
        </ul>
    </mat-toolbar>
</ng-container>