<ng-container>
    <mat-toolbar color="primary" class="nav">
        <h3>PostNews</h3>

        <!-- Navbar elements for homepage -->
        <ul *ngIf="page === 'home'">
            <li>
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>chat</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                </button>
            </li>
            <li><button mat-stroked-button style="border-color: white;">Logout</button></li>
        </ul>
        <!-- End of navbar elements for homepage -->

        <!-- Navbar elements for Login page -->
        <ul *ngIf="page === 'login'">
            <li><button mat-stroked-button style="border-color: white;">Signup</button></li>
        </ul>
        <!-- End of navbar elements for homepage -->

        <!-- Navbar elements for homepage -->
        <ul *ngIf="page === 'signup'">
            <li><button mat-stroked-button style="border-color: white;">Login</button></li>
        </ul>
        <!-- End of navbar elements for homepage -->

    </mat-toolbar>
</ng-container>