<ng-container>
    <div class="chat-screen-header">
        <h4 style="padding: 8px; font-size: large; margin: 0;">{{params.username}}</h4>
    </div>
    <mat-divider style="border-top-color: rgb(230, 150, 3);"></mat-divider>
    <div class="chat-screen-body">
        <ul class="chat-list" *ngFor="let message of initializeChatMessagesFromDb?.data">
            <li>{{message}}</li>
        </ul>
    </div>
    <div class="chat-screen-input">
        <mat-form-field appearance="outline" style="width: 33vw;">
            <input matInput placeholder="Type message" [(ngModel)]="chatMsg" />
        </mat-form-field>
        <button mat-icon-button matTooltip="Send message" (click)="sendMessage()">
            <mat-icon color="primary">send</mat-icon>
        </button>
    </div>
</ng-container>