.chat-screen-header {
  height: 55px;
  display: flex;
  align-items: center;
}

.chat-list {
  list-style-type: none;
  padding: 2vw;
  margin: 0;
}

.chat-screen-input {
  position: absolute;
  bottom: 0;
  margin: 0 1%;
}
