<ng-container>
    <app-navbar></app-navbar>
</ng-container>
<div class="container">
    <div class="users-list">
        <mat-list>
            <mat-list-item *ngFor="let user of response?.data" class="user-list-item"
                (click)="initializeChatScreen(user)">
                <img mat-list-icon [src]="user.avatar" />
                <div mat-line>{{ user.username }}</div>
                <div mat-line> user.lastseen </div>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider [vertical]="true" style="border-right-color: rgb(230, 150, 3);"></mat-divider>
    <div class="chat-screen">
        <app-chat-screen *ngIf="isQueryStringExists"></app-chat-screen>
    </div>
</div>