form {
  text-align: center;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.image-picker {
  width: min-content;
  margin: 0 auto;
}

.add-post-btn {
  button {
    color: white;
    width: 30%;
    margin: 4% auto;
  }
}
