mat-form-field {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.image-picker {
  width: 50%;
  margin-left: 10%;
}

.add-post-btn {
  margin-left: 10%;
  button {
    width: 30%;
    margin: 4% auto;
    border-color: orange;
  }
}
