<h1 style="font-weight: 400; margin-left: 10%;">Create Post</h1>
<form (ngSubmit)="createPost()">
    <ng-container>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter Post Title" [formControl]="title" required>
            <mat-error *ngIf="title.invalid">{{getTitleErrors()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput style="min-height: 100px;" required [formControl]="description"></textarea>
            <mat-error *ngIf="description.invalid">{{getDescriptionErrors()}}
            </mat-error>
        </mat-form-field>
    </ng-container>
    <div class="image-picker">
        <ngp-image-picker [_config]="imagePickerConf" ($imageChanged)="storeImage($event)"></ngp-image-picker>
    </div>
    <div class="add-post-btn">
        <button mat-raised-button color="primary" type="submit">Publish</button>
    </div>
</form>