<ng-container *ngIf="posts; else elseOfCard">
    <mat-card class="card" *ngFor="let post of posts" routerLink="/post-detail/{{post._id}}">
        <mat-card-header style="justify-content: space-between;">
            <mat-card-title>
                {{post.title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{post.createdAt}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="post.description.length > 250; else elseOfPostDescription">
            {{post.description.substring(0, 250)}}...
        </mat-card-content>
        <ng-template #elseOfPostDescription>
            <mat-card-content>
                {{post.description}}
            </mat-card-content>
        </ng-template>
        <div mat-card-image *ngIf="post.image">
            <img [src]="post.image" alt="Post image" class="post-img">
        </div>
    </mat-card>
</ng-container>
<ng-template #elseOfCard>
    <h2 class="no-posts">No Posts!</h2>
</ng-template>